* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* 1ci taskin css'i */
.body {
  background: url(/assets/images/cbbdcd5db1b9c17c2f3e2f138ca41a59.jpg) no-repeat;
  background-size: cover;
}
header {
  width: 100%;
  top: 0;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
}
nav {
  display: flex;
  flex-direction: row;
  width: 85%;
  align-items: center;
  justify-content: space-between;
}
.nav-lists {
  display: flex;
  flex-direction: row;
}
.nav-links {
  padding-right: 100px;
}
.lists {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.lists > li {
  padding-right: 25px;
}
.listed-links {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 120%;
  transition: all ease-in-out 0.1s;
}
.name > h1 {
  font-size: 200%;
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}
.hidden-list {
  transition: 1s;
  list-style: none;
  display: none;
  position: absolute;
  padding-top: 0.5%;
  min-width: 10%;
  transition: all ease-in-out 0.1s;
}
.about-down {
  transition: all ease-in-out 0.1s;
}
.hidden-nav {
  font-size: 100%;
  padding: 10%;
}
.hovering:hover {
  color: rgb(255, 255, 0);
}
.about-down:hover {
  color: rgb(255, 255, 0);
}
.social-links {
  transition: 0.1s;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.main {
  display: flex;
  flex-direction: row;
  width: 85%;
  align-items: center;
  justify-content: space-evenly;
}
.business {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.bus-title {
  font-size: 350%;
  text-transform: uppercase;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.bus-info{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-top: 5%;
  font-weight: 400;
}
.forms {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}
.main-form {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.check {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 90%;
}
.formagree {
  font-size: 100%;
}
.select {
  align-items: center;
  width: 200%;
  height: 50px;
}
.select{
  padding: 5% 8%;
}
.input{
  width: 200%;
  height: 50px;
  border: 1px solid gray;
  border-radius: 5px;
}
.input::placeholder{
  padding: 5% 5%;
}
button{
  border: 1px solid black;
  padding: 5%  5%;
  width: 85%;  
  margin-top: 3%;
  margin-bottom: 3%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
  font-weight: 400;
  background-color: rgb(255,101,57);transition: 0.3s;
}
button:hover{
  background-color: white;
  color: rgb(255,101,57);
  cursor: pointer;
  border: 2px solid rgb(255,101,57);
}





/* 3-cu task bundan sonra */

.task-3{

  background-color: rgb(241,241,241);
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
main>*{
  padding: 5px 0;
}
.h1{
  align-items: center;
  font-size: larger;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}
.p{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  justify-content: space-around;
}

.images{
  width: 85%;
  display: flex;
  flex-direction: column;
}
.row{
  flex-direction: row;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.card{
  width: 23%;
  background-color: white;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.card>*{
  padding: 10px 0;
}
i{
  font-size: 200%;
  color: orange;
}
.header{
  font-size: 110%;
  font-weight: 700;
}
.learn{
  background-color: orange;
  color: #fff;
  width: 10%;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
  padding: 10px 1px;
}